.main_footer {
	background: #16222A;
	background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
	background: linear-gradient(59deg, #3A6073, #16222A);
	color: white;
	margin-top: 100px;
	padding-top: 20px;
	height: 70vh;
}

a {
	text-decoration: none;
}

.footer-pad h5 {
	margin-bottom: 15px;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.about_x4fit {
	color: #ccc;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.iconFooter {
	background-color: #F9F9F9;
	border-radius: 45%;
	height: 25px;
	width: 25px;
	text-align: center;
	display: inline-block;
	transition: all 1s;
}

.iconFooter:hover, .iconFooter:active{
background-color: #D5F3FE;
color:#66D3FA;

}

.copy {
	margin-top: 120px;
	font-size: 12px;
	
	border-top: 1px solid #AAA;
}

.h5_footer_contact {
	margin-bottom: 15px;
	font-weight: lighter;
	font-size: 15px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.a_footer {
	color: #ffffff;
}

#footer{
margin-top: 40px;
display: block;
}